<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <title>Education</title>
</head>

<body class="theBody">

    <header class="mainHeader">
        <img src="static/img/educ_2.jpg" alt="" width="100%">
        <nav>
            <ul>

                <li> <a href="./index.html"><i class="fa fa-home"></i> Home Page</a></li>
                <li> <a href="./Experiences.html"><i class='fas fa-business-time'></i>Work Experience</a></li>
                <li> <a href="./Contact.html"><i class='fas fa-envelope'></i> Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="mainContent_2">

        <section class="topContent">

            <header>
                <h1>IT-Education</h1>
            </header>

            <article class="share">
                <i class='icon'></i>
                <h2 class="social"> <a href="https://www.udemy.com/certificate/UC-a9820965-749e-4b19-b477-26cf3115e475/"
                        target="_blank">Complete
                        Python Developer</a></h2>
                <article>
                    <p>
                        Complete python course (Basics, Advanced , OOP , Testing , debugging, File I/O , Regular
                        Expressions , Scripting , Scraping , Web developing with python using Flask , Automation/Testing
                        using selenium and intro to Machine Learning & Data Science).
                    </p>
                </article>
            </article>

            <article class="share">
                <i class='icon_2'></i>
                <h2 class="social"> <a
                        href="https://s3-us-west-2.amazonaws.com/udacity-printer/production/certificates/11c7497c-3c53-494f-aeeb-61ea21f70dff.pdf"
                        target="_blank">Full
                        Stack Development</a></h2>
                <article>
                    <p>
                        Html & Css and python (Basics, Advanced , OOP)
                    </p>
                </article>
            </article>

            <article class="share">
                <i class='icon_3'></i>
                <h2 class="social"> <a href="https://courses.edraak.org/certificates/edaca1ad28c744dfaac269deda6a0f85"
                        target="_blank">Introduction to
                        programming</a></h2>
                <article>
                    <p>
                        python (Basics, Advanced , OOP)
                    </p>
                </article>
            </article>

            <article class="share">
                <i class='icon_4'></i>
                <h2 class="social"><a href=""> Android Development</a></h2>
                <article>
                    <p>
                        Developing Android Apps by Java using Android Studio
                    </p>
                </article>
            </article>

            <article class="share">
                <i class='icon_5'></i>
                <h2 class="social"><a href=""> ICDL</a></h2>
                <article>
                    <p>
                        International Computer Driving License
                    </p>
                </article>
            </article>

        </section>

        <section class="topContent">

            <header>
                <h1>Academic Education</h1>
            </header>

            <article class="share">
                <i class='icon_6'></i>
                <h2 class="social"> <a href="">Cairo University</a></h2>

                <p> <strong>Degree:</strong> Bachelor of Business Administration</p>
                <p> <strong>Field of study:</strong> business administration, marketing </p>
                <p> <strong>graduate year:</strong> 2019</p>
                <p> <strong>Grade:</strong> Good</p>

            </article>

            <article class="share">
                <i class='icon_6'></i>
                <h2 class="social"> <a href="">Cairo University</a></h2>

                <p> <strong>Degree:</strong> Bachelor of Arts</p>
                <p> <strong>Field of study:</strong> History </p>
                <p> <strong>graduate year:</strong> 2006</p>
                <p> <strong>Grade:</strong> Good</p>

            </article>

        </section>

        <section class="topContent">
            <header>
                <h2>Language</h2>
            </header>
            <article class="share">

                <p>
                    <strong>English:</strong> Intermediate (B2)
                </p>

                <p>
                    <strong>Arabic:</strong> Mother Tongue
                </p>

            </article>
        </section>

        <section class="topContent">
            <header>
                <h2>Other Education And Certification Details</h2>
            </header>
            <article class="share">
                <i class='icon_7'></i>
                <h2 class="social"> <a href="">Sabre Travel Network</a></h2>

                <p>
                    Reservation & Ticketing-Reissue and Refund
                </p>

            </article>

            <article class="share">
                <i class='icon_8'></i>
                <h2 class="social"> <a href=""> Amadeus Training Center</a></h2>

                <p>
                    ATC & EMD course
                </p>

            </article>

            <article class="share">
                <i class='icon_8'></i>
                <h2 class="social"> <a href="">Amadeus Training Center</a></h2>

                <p>
                    Reservation & Ticketing-Reissue and Refund
                </p>

            </article>

            <article class="share">
                <i class='icon_8'></i>
                <h2 class="social"> <a href="">Amadeus Training Center</a></h2>

                <p>
                    Amadeus Basic course
                </p>

            </article>

        </section>
    </div>

    <footer class="footer">
        <p>
            Built By Mohamed Mostafa
        </p>
    </footer>
</body>

</html>