<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <title>Education</title>
</head>

<body class="theBody">
    <header class="mainHeader">
        <img src="static/img/business.jpg" alt="" width="100%">
        <nav>
            <ul>
                <li> <a href="./index.html"><i class="fa fa-home"></i> Home Page</a></li>
                <li> <a href="./Education.html"><i class='fas fa-user-graduate'></i> Education</a></li>
                <li> <a href="./Contact.html"><i class='fas fa-envelope'></i> Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="mainContent_2">

        <section class="topContent">
            <header>
                <h2>Sales Manager at asfar trip </h2>
            </header>
            <footer class="dates">
                <p> Nov 2018 to Present </p>
            </footer>
            <article class="info_2">
                <h3>we provide a selling platform online for ( ticketing & hotel reservation and car rental )</h3>
                <strong> my responsibility for example:</strong>
                <ul>
                    <li>lead the sales department </li>
                    <li>Develop strategies and plans of the company sales and marketing and overseeing the
                        implementation.</li>
                    <li>Work to raise the volume of sales.</li>
                    <li>Zoning selling to take advantage of a larger number of customers.</li>
                    <li>Establish a database on markets and competitors.</li>
                    <li>Search for new customers and communicate with them and keep strong relationships with them.
                    </li>
                    <li>Enter into negotiations with potential customers.</li>
                    <li>Lead the sales team and supervise them to reach company goals of sales.</li>
                    <li>Follow up the salesmen performance and improve their skills.</li>
                    <li>Follow-up after-sales service and communicate with customers and responding to their
                        requirements. </li>
                    <li>Reporting on the achievements and problems to senior management and proposals for solutions.
                    </li>
                    <li>Organize clients events and attend trade shows/conventions to promote the products</li>
                    <li>Converting targeted number of agents to AsfarTrip platform, drafting signup strategies and agent
                        service level agreements .</li>
                    <li>contacting with developers about any proposals and technical issues which help us to develop the
                        product.</li>
                    <li>preparing reports about customers performance and preparing the incentive reports</li>
                </ul>

            </article>
        </section>

        <section class="topContent">
            <header>
                <h2>B2b sales manager at Travelstart </h2>
            </header>
            <footer class="dates">
                <p> Apr 2015 to Sep 2018 </p>
            </footer>

            <article class="info_2">
                <h3>we provide a selling platform online for ( ticketing & hotel reservation)</h3>
                <strong> my responsibility for example:</strong>
                <ul>
                    <li>lead the sales department </li>
                    <li>Develop strategies and plans of the company sales and marketing and overseeing the
                        implementation.</li>
                    <li>Work to raise the volume of sales.</li>
                    <li>Zoning selling to take advantage of a larger number of customers.</li>
                    <li>Establish a database on markets and competitors.</li>
                    <li>Search for new customers and communicate with them and keep strong relationships with them.
                    </li>
                    <li>Enter into negotiations with potential customers.</li>
                    <li>Lead the sales team and supervise them to reach company goals of sales.</li>
                    <li>Follow up the salesmen performance and improve their skills.</li>
                    <li>Follow-up after-sales service and communicate with customers and responding to their
                        requirements. </li>
                    <li>Reporting on the achievements and problems to senior management and proposals for solutions.
                    </li>
                    <li>Organize clients events and attend trade shows/conventions to promote the products</li>
                    <li>Converting targeted number of agents to neXt platform, drafting signup strategies and agent
                        service level agreements .</li>
                    <li>contacting with developers about any proposals and technical issues which help us to develop the
                        product.</li>
                    <li>preparing reports about customers performance and preparing the incentive reports</li>
                </ul>

            </article>
        </section>

        <section class="topContent">
            <header>
                <h2>Sales Manager at Capital Travel </h2>
            </header>
            <footer class="dates">
                <p> Feb 2014 to Mar 2015 </p>
            </footer>

            <article class="info_2">
                <h3>we provide ticketing & hotel reservation</h3>
                <strong> my responsibility for example:</strong>
                <ul>
                    <li>Develop strategies and plans of the company sales and marketing and overseeing the
                        implementation.</li>
                    <li>Work to raise the volume of sales.</li>
                    <li>Zoning selling to take advantage of a larger number of customers.</li>
                    <li>Establish a database on markets and competitors.</li>
                    <li>Search for new customers and communicate with them and keep strong relationships with them.
                    </li>
                    <li>Enter into negotiations with potential customers.</li>
                    <li>Lead the sales team and supervise them to reach company goals of sales.</li>
                    <li>Follow up the salesmen performance and improve their skills.</li>
                    <li>Follow-up after-sales service and communicate with customers and responding to their
                        requirements. </li>
                    <li>Reporting on the achievements and problems to senior management and proposals for solutions.
                    </li>
                    <li>Organize clients events and attend trade shows/conventions to promote the products</li>
                    <li>preparing reports about customers performance and preparing the incentive reports</li>
                </ul>
            </article>
        </section>

        <section class="topContent">
            <header>
                <h2>Branch supervisor.(acting branch manager) at National Bureau (part of al tayyar travel group).</h2>
            </header>
            <footer class="dates">
                <p>Jan 2012 to Jan 2014</p>
            </footer>

            <article class="info_2">
                <h3>we provide ticketing & hotel reservation</h3>
                <p class="info_3"><strong> Responsibilities indoor :</strong>supervise the company’s branch and includes
                    supervise the
                    booking and ticketing, while maintaining the level of service to existing customers as well as
                    working on the development of professional performance and raise the level of service.</p>
                <p class="info_3"> <strong> Responsibilities outdoor:</strong>Work to increase customers by marketing
                    the company’s
                    services to new customers with follow up existing customers in order to maintain the level of
                    service provided.</p>
                <ul>
                    <li><strong>corporate service for example:</strong></li>
                    <li>banks.</li>
                    <li>medical ﬁeld.</li>
                    <li>government ﬁeld.</li>
                    <li>VIP service.</li>
                    <li>royal families.</li>
                    <li>business men / women.</li>
                    <li>Preparation of customer databases (cash -credit).</li>
                    <li>working on tourism engine.</li>
                </ul>
            </article>
        </section>

        <section class="topContent">
            <header>
                <h2>Supervisor of reservation and ticketing at National Bureau (part of al tayyar travel group).</h2>
            </header>
            <footer class="dates">
                <p>Jan 2010 to Jan 2012 </p>
            </footer>

            <article class="info_2">
                <h3>we provide ticketing & hotel reservation</h3>
                <p class="info_3"><strong> Responsibilities indoor :</strong>supervise the company’s branch and includes
                    supervise the
                    booking and ticketing, while maintaining the level of service to existing customers as well as
                    working on the development of professional performance and raise the level of service. </p>
                <ul>
                    <li><strong>corporate service for example:</strong></li>
                    <li>banks.</li>
                    <li>medical ﬁeld.</li>
                    <li>government ﬁeld.</li>
                    <li>VIP service.</li>
                    <li>royal families.</li>
                    <li>business men / women.</li>
                    <li>Preparation of customer databases (cash -credit).</li>
                    <li>working on tourism engine.</li>
                </ul>
            </article>
        </section>

        <section class="topContent">
            <header>
                <h2>Supervisor at Travel Options.</h2>
            </header>
            <footer class="dates">
                <p>Apr 2009 to Oct 2009</p>
            </footer>

            <article class="info_2">
                <h3>we provide ticketing & hotel reservation</h3>
                <p class="info_3"><strong> Responsibilities indoor :</strong> supervise the company’s and includes
                    supervise the
                    booking and ticketing, while maintaining the level of service to existing customers as well as
                    working on the development of professional performance and raise the level of service.</p>
                <ul>
                    <li>Preparation of customer databases (cash -credit).</li>
                    <li>working on tourism engine.</li>
                </ul>
            </article>
        </section>

        <section class="topContent">
            <header>
                <h2>Reservation Ofﬁcer at Zekri Tours</h2>
            </header>

            <footer class="dates">
                <p>Jan 2008 to Mar 2009</p>
            </footer>

            <article class="info">
                <h3>we provide ticketing & hotel reservation</h3>
                <p>supervise the booking and ticketing, while maintaining the level of service to existing
                    customers as well as working on the development of professional performance and raise the level
                    of service. </p>

            </article>
        </section>

        <section class="topContent">
            <header>
                <h2>Reservation Ofﬁcer at Mak Tours</h2>
            </header>

            <footer class="dates">
                <p>Nov 2006 to Dec 2007</p>
            </footer>

            <article class="info">
                <h3>we provide ticketing & hotel reservation</h3>
                <p>supervise the booking and ticketing, while maintaining the level of service to existing customers as
                    well as working on the development of professional performance and raise the level of service.</p>

            </article>
        </section>
    </div>

    <footer class="footer">
        <p>
            Built By Mohamed Mostafa
        </p>
    </footer>

</body>

</html>