<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <title>Thank You</title>
</head>

<body class="theBody">
    <header class="mainHeader">
        <img src="static/img/contact_me.jpg" alt="" width="100%">
        <nav>
            <ul>
                <li> <a href="./index.html"><i class="fa fa-home"></i> Home Page</a></li>
                <li> <a href="./Education.html"><i class='fas fa-user-graduate'></i> Education</a></li>
                <li> <a href="./Experiences.html"><i class='fas fa-business-time'></i>Work Experience</a></li>
                <li> <a href="./Contact.html"><i class='fas fa-envelope'></i> Contact Me</a></li>
            </ul>
        </nav>

    </header>

    <div>
        <section class="reply">
            <img src="static/img/side_2.jpg" alt="" style="width: 100%; margin-top: 2%;">
        </section>
    </div>

</body>

</html>